<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"> </script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"> </script>
    <script type="text/javascript" language="javascript" src="js/datatable.js"> </script>

</head>

<body>

<img src="images/103556-despicable-me-its-so-fluffy-gi-Uv1z.gif" />

<div id="content">
  <p>Keys found:</p>

{{ keytablecontents }}


</div>

</body>
</html>