<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />

    <!-- Site Style -->

    <!-- Jquery -->
    <script type="text/javascript" language="javascript" src="js/jquery-1.12.4.js"> </script>

    <!-- DataTables -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="js/jquery.dataTables.min.js"> </script>
    <script type="text/javascript" language="javascript" src="js/datatable.js"> </script>

    <!-- tooltip -->
    <script>
	  $( function() {
	    $( document ).tooltip();
	  } );
    </script>

</head>

<body>

<img src="images/103556-despicable-me-its-so-fluffy-gi-Uv1z.gif" />

<div id="content">
    <div id="keycontent">
      <h3>Keys found:</h3>
        {{ keytablecontents }}
    </div>



    <div id="usercontent">
      <div id="inlineusers"> <h3>Users with Inline policiies applied:</h3>
        {{ inlineusers }}
      </div>
       <div id="nonmfausers"> <h3>Users without MFA enabled:</h3>
        {{ nonmfausers }}
      </div>

    </div>
</div>

</body>
<!-- avatars Designed by Freepik http://www.freepik.com/free-vector/user-avatars-pack_746488.htm-->
</html>