    <tr>
        <td>{{ key['user'] }}</td>
        <td>{{ key['api_access_key_create_date'] }}</td>
        <td>{{ key['api_access_key'] }}</td>
        <td>{{ key['api_access_key_unused'] }}</td>
        <td>{{ key['api_access_key_last_used_too_long'] }}</td>
        <td>{{ key['api_key_too_old'] }}</td>
    </tr>